name: image_tracker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8.2
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.2' 
        architecture: 'x64' 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas as pd
        
    - name: Run Image Tracker
      run: python image_tracker/track_images.py
    
