name: Limit complexity

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install lizard
      run: pip install lizard

    - name: Limit complexity
      run: $HOME/.local/bin/lizard --CCN 3 -x "./SCU/general_util.c" -x "./SCU/stor_scu.c" -x "./SCU/sendimage.cpp" -x "./SCU/cmdlinefunction.cpp" -x "./SCU/response.cpp" -x "./SCU/nodefunction.cpp" -x "./scuTest/catch.hpp"
